.header_block {
  background-image: linear-gradient(to right, #455be1, #d474f5);
}
.header_logo {
  background-image: url("../../assets/images/index/logo.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 60px;
  margin: 12px 0 0 20px;
  cursor: pointer;
}
.activity_title {
  font-size: 26px;
  color: #fff;
  padding-top: 15px;
  text-align: center;
}
.activity_welcome {
  display: flex;
  font-size: 16px;
  color: #fff;
  padding-top: 24px;
}
.header_banner {
  background: url("../../assets/images/index/banner_icon.png");
  float: right;
  background-repeat: no-repeat;
  background-size: 444px 98px;
}

.logout {
  background: url("../../assets/images/index/logout_icon.png");
  width: 28px;
  height: 25px;
  background-size: 28px 25px;
  margin: 0 0 0 10px;
  cursor: pointer;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .activity_title {
    padding-top: 0;
  }
  .col {
    padding: 0 5px;
  }
}

/* @media (min-width: 768px) {
  .container {
    max-width: 720px;
    background: red;
  }
} */
