<div class="container-fluid header"> 
    <div class="row header_block">
      <div class="heading-block   activity_logo col-md-4 col-sm-6 col-6">
        <div class="header_logo" (click)="goHome()"></div>
      </div>
      <!-- <span class="header_banner"></span>  -->
      <div class="heading-block activity_title col-md-4 col-sm-4 col-6">Recruitment Management System</div>
      <div class="header_banner col-md-4 col-sm-4 hidden-xs hidden-sm">
        <span class="heading-block activity_welcome float-right hidden-xs-down">Welcome, Admin<i class="logout"(click)="goLogout()" ></i></span>
     
      </div>

    </div>
  </div>