<div class="container-fluid">

  <div class="row header_block">
    <div class="col">
      <div class="header_logo" (click)="goHome()"></div>
    </div>
    <div class="col heading-block activity_title">
      Recruitment Management System
    </div>
    <div class="col d-none d-sm-block header_banner">
      <span class="heading-block activity_welcome activity_welcome float-right hidden-xs-down">Welcome, Admin<i class="logout"
          (click)="goLogout()"></i></span>
    </div>

  </div>
</div>