.bopis-edit-product-selected-block {
  padding: 0 0 30px 0;
  border-bottom: 1px solid #000000;
}
.bopis-edit-product-selected-block .bopis-edit-product-prod-info p,
.bopis-edit-product-selected-block .bopis-edit-product-store-info p {
  margin: 2px;
}
.bopis-edit-product-popup-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  height: 100%;
}
.bopis-edit-product-title {
  margin-bottom: 30px;
  text-align: center;
}
h4.prod-title .store-distance {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}
.bopis-edit-product-selected-items-label {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 14px;
}
.bopis-edit-product-prod-info {
  margin-bottom: 30px;
}
.bopis-edit-product-prod-info .prod-title {
  font-weight: bold;
}
.bopis-edit-product-prod-info .store-distance {
  font-weight: normal;
  text-transform: lowercase
}
.bopis-edit-product-store-info .phone-number {
  text-decoration: underline;
  font-weight: bold;
  font-family: "NewtextITCStd-Regular";
}
.bopis-edit-product-store-info .lbl-get-directions a {
  font-weight: bold;
  color: #000;
}
.bopis-edit-product-continue-store-block {
  color: #d0021b;
  font-weight: bold;
  letter-spacing: 0.13em;
  margin: 0 0 30px 0;
}
.bopis-edit-product-continue-store-block {
  margin: 20px 0;
  position: relative;
}
.bopis-edit-product-continue-store-block ul.bopis-eidt-product-store {
  padding: 0 !important;
}
ul.bopis-eidt-product-store li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 25px 0 25px 0;
  padding: 15px 0 0 0;
}
ul.bopis-eidt-product-store li::after {
  position: absolute;
  content: "";
  border-bottom: 1px solid #9c9c9c;
  width: 100%;
  top: -5px;
  left: 0;
}
ul.bopis-eidt-product-store li:first-child::after {
  border: 0;
}
ul.bopis-eidt-product-store li:first-child {
  padding: 0;
}
ul.bopis-eidt-product-store li:last-child {
  margin-bottom: 90px;
}
.bopis-edit-product-img {
  width: 20%;
  height: 180px;
  margin-right: 10px;
}
h3.bopis-edit-product-title {
  margin-bottom: 30px;
  padding: 0;
}
.bopis-edit-product-img img {
  border: 1px solid #cfcfcf;
  width: 100%;
  height: 100%;
}
.bopis-product-information h3.bopis-edit-product-size,
.bopis-product-information h3.bopis-product-price {
  padding: 0;
}
.bopis-edit-product-availability {
  position: relative;
  margin-top: 20px;
}
.bopis-edit-product-availability label {
  font-weight: 700;
  margin-left: 20px;
  vertical-align: middle;
}
label.item-available::before {
  content: "";
  background: url(/media/images/mobile/tick.png) no-repeat;
  width: 12px;
  height: 13px;
  padding: 2px;
  position: absolute;
  left: 0;
}
label.item-not-available::before {
  content: "";
  background: url(/media/images/mobile/tick.png) no-repeat;
  width: 12px;
  height: 13px;
  padding: 2px;
  position: absolute;
  left: 0;
}
p.item-not-available-desc {
  margin: 10px 0;
  font-size: 8px;
  line-height: inherit;
}
.bopis-edit-product-conf-block {
  padding:10px 10px 15px 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 -3px 0 0 rgba(50, 50, 50, 0.15);
  -moz-box-shadow:    0 -3px 0 0 rgba(50, 50, 50, 0.15);
  box-shadow:         0 -3px 0 0 rgba(50, 50, 50, 0.15);

}
.bopis-edit-product-confirm-btn,
.bopis-edit-product-cancel-btn {
  padding: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.bopis-edit-product-conf-block {
  -webkit-box-shadow: 0 -3px 0 0 rgba(50, 50, 50, 0.15);
  -moz-box-shadow:    0 -3px 0 0 rgba(50, 50, 50, 0.15);
  box-shadow:         0 -3px 0 0 rgba(50, 50, 50, 0.15);
}
.bopis-edit-product-confirm-btn {
  background-color: #000000;
  color: #ffffff;
  margin: 0 0 10px 0;
}
.bopis-edit-product-cancel-btn {
  text-decoration: underline;
}

@media only screen
and (max-device-width: 667px)
and (min-device-width: 375px)
{
  .bopis-edit-product-conf-block,
  .bopis-edit-product-confirm-btn,
  .bopis-edit-product-cancel-btn {
    display: block;
    text-align: center;
  }
	.bopis-edit-product-img {
		width: 50%;
	}
}
@media (-webkit-min-device-pixel-ratio: 2)
and (device-height: 568px)
and (device-width: 320px)
{
  .bopis-edit-product-img {
    width: 50%;
  }
  .bopis-edit-product-conf-block,
  .bopis-edit-product-confirm-btn,
  .bopis-edit-product-cancel-btn {
    display: block;
    text-align: center;
  }
  .bopis-edit-product-confirm-btn,
  .bopis-edit-product-cancel-btn {
    padding: 10px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3) {
  .bopis-edit-product-img {
    width: 50%;
  }
  .bopis-edit-product-conf-block,
  .bopis-edit-product-confirm-btn,
  .bopis-edit-product-cancel-btn {
    display: block;
    text-align: center;
  }
}