<div class="bopis-store-delivery-page-wrapper">
  <div style="text-align:center" class="content-wrap">
    <span class="dot-delivery icon"></span>
    <span class="dot-payment icon"></span>
    <span class="dot-review icon"></span>
  </div>
  <div class="bopis-dot-icon-text">
    <span>{{{bopis_delivery_page_delivery_text}}}</span>
    <span>{{{bopis_delivery_page_payment_text}}}</span>
    <span>{{{bopis_delivery_page_review_text}}}</span>
  </div>
  <div class="bopis-delivery-page-title">
    <h3>{{{bopis_store_delivery_header}}</h3>
  </div>
  <hr>
  <div id="map" class="bopis-delivery-page-map-block"></div>
  <div class="bopis-delivery-page-store-block address-block">
    <ul>
      <li>
        <address>
          <h3 class="bopis-delivery-page-header-text">{{{bopis_delivery_page_store_header_text}}}</h3>
          <span>(#{DISTANCE} {{{bopis_deliver_page_distance_type}}})</span>
          <p>#{ADDRESS}</p>
          <p>#{STATE}, #{STATE_CODE #{ZIP_OR_POSTAL}</p>
          <p class="bopis-delivery-page-space"></p>
          <p>{{{bopis_delivery_page_hours_text}}} #{STORE_HOURS}</p>
          <p>{{{bopis_delivery_page_phone_text}}}<span class="bopis-delivery-page-bold-text">#{PHONE}</span></p>
          <p><a href="#" class="bopis-delivery-page-bold-text">{{{bopis_delivery_page_direction_text}}}</a></p>
          <span class="bopis-delivery-page-space"></span>
          <p class="bopis-delivery-page-bold-text">{{{bopis_delivery_page_available_for_pickup_text}}}</p>
          <p>#{PICKUP_TIMING}</p>
        </address>
      </li>
    </ul>
  </div>
  <div class="bopis-delivery-page-change-store">
    <a href="#">{{{bopis_delivery_page_change_store_text}}}</a>
  </div>
  <div class="bopis-delivery-page-msg">
    <p>{{{bopis_delivery_page_order_pickup_msg}}}</p>
  </div>
  <hr>
  <div class="bopis-delivery-page-pickup-order">
    <p>{{{bopis_delivery_page_who_will_pickup_order_text}}}</p>
  </div>
  <div class="custom-control bopis-radio">
    <input type="radio" name="who">
    <label class="bopis-delivery-radio-label">{{{bopis_delivery_page_me_text}}}</label>
  </div>
  <div class="custom-control bopis-radio">
    <input type="radio" class="custom-control bopis-radio" name="who" checked="checked">
    <label class="bopis-delivery-radio-label">{{{bopis_delivery_page_someone_else_text}}}</label>
  </div>
  <div class="bopis-other-pickup-form">
    <input type="text" name="bopis-other-pickup-form_first_name" placeholder="{{{bopis_delivery_page_first_name_placeholder_text}}}">
    <input type="text" name="bopis-other-pickup-form_last_name" placeholder="{{{bopis_delivery_page_last_name_placeholder_text}}}">
    <input type="text" name="bopis-other-pickup-form_phone" placeholder="{{{bopis_delivery_page_phone_placeholder_text}}}">
    <input type="text" name="bopis-other-pickup-form_email" placeholder="{{{bopis_delivery_page_email_placeholder_text}}}">
    <span>{{{bopis_delivery_page_required_fields_text}}}</span>
  </div>
  <hr>
  <div>
    <p>{{{bopis_delivery_page_gift_wrapping_text}}}</p>
  </div>
  <div class="custom-control bopis-radio">
    <input type="radio" class="gift-group-radio field bopis-radio" name="GIFT_GROUP" checked="checked">
    <label class="bopis-delivery-radio-label">{{{bopis_delivery_page_wrap_together_text}}}</label>
  </div>
  <div class="custom-control bopis-radio">
    <input type="radio" class="gift-group-radio field bopis-radio" name="GIFT_GROUP">
    <label class="bopis-delivery-radio-label">{{{bopis_delivery_page_wrap_individually_text}}}</label>
  </div>
  <div class="custom-control bopis-radio">
    <input type="radio" class="gift-group-radio field bopis-radio" name="GIFT_GROUP">
    <label class="bopis-delivery-radio-label">{{{bopis_delivery_page_no_gift_box_text}}}</label>
  </div>
  <div class="bopis-gift-form">
    <input type="text" name="gift-to" placeholder="{{{bopis_delivery_page_to_placeholder_text}}}">
    <input type="text" name="gift-from" placeholder="{{{bopis_delivery_page_from_placeholder_text}}}">
    <textarea name="" placeholder="{{{bopis_delivery_page_gift_msg_placeholder_text}}}"></textarea>
  </div>
</div>
<div class="bopis-help-information">
  <span class="bopis-help-text-info">{{{bopis_delivery_page_can_we_help_text}}}</span>
  <span class="bopis-help-phone"><a href="#">{{{bopis_delivery_page_phone_number_text}}}</a></span>
  <hr>
  <div class="bopis-footer-text">
    <p>{{{bopis_delivery_page_secure_checkout_text}}}</p>
    <p>{{{bopis_delivery_page_jomalone_text}}}</p>
  </div>
</div>
<div class="bopis-delivery-page-block">
  <a href="#" class="bopis-delivery-page-btn button">{{{bopis_delivery_page_continue_checkout_text}}}</a>
</div>
<script>
  document.write('<' + 'script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.googlemap/1.5/jquery.googlemap.js" type="text/javascript"><' + '/script>');
</script>
