<!-- <app-header></app-header> -->
<div class="wrapper">
  <!--  Main Content -->
  <div class="margin"></div>
  <div class=" dashboard">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 search_Candidate">
        <div class="clearifx">
          <input type="text" name="search" placeholder="Search candidates" class="dashboard_search">
          <button (click)="showAddNewHiring()" class="add_new_hiring float-right">
            <img src="../../assets/images/dashboard/add_b_icon.png"> Add New Hiring</button>
        </div>

      </div>
    </div>
    <!--div class="row">
               <p class="list-row">My JD's</p>
               <p class="list-row">All open JD's</p>
               <p class="list-row">Completed JD's</p>
      </div-->
    <div class="Desktopview hiderdiv">
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <td>JD Name</td>
              <td>&nbsp;</td>
              <td>ID</td>
              <td>No of
                <br> Position</td>
              <td>Skill Sets</td>
              <td>Created Date</td>
              <td>Received
                <br>Profile</td>
              <td>Interview
                <br> Completed </td>
              <td>In Progress</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </thead>
          <tbody id="" class="data_font">
            <tr *ngFor="let listValue of listValues">
              <td> {{ listValue.JD_Name}} </td>
              <td>
                  <a title="click here to download file" (click)= "setDownloadPath(listValue['Attachments'])" download>
                      <img src="../../assets/images/dashboard/download_icon.png">
                  </a> 
                      
              </td>
              <td> {{ listValue.ID }} </td>
              <td> {{ listValue.No_of_Position }} </td>
              <td> {{ listValue.Skill_Sets}} </td>
              <td> {{ listValue.Created_Date }} </td>
              <td> {{ listValue.Received_profile }} </td>
              <td> {{ listValue.Interview_completed }} </td>
              <td> {{ listValue.Yet_to_schedule }} </td>
              <td>
                <button class="view_profile" (click)="viewProfile(listValue['ID']);viewProfileData(listValue['ID'],listValue['JD_Name'],listValue['Skill_Sets'],listValue['No_of_Position'],listValue['Created_Date'] )">
                  <img src="../../assets/images/dashboard/view_icon.png"> View Profile</button>
              </td>
              <td>
                <button class="add_profile" (click)="showAddProfile(listValue['ID'],listValue['JD_Name'],listValue['Skill_Sets'],listValue['No_of_Position'],listValue['Created_Date'] )">
                  <img src="../../assets/images/dashboard/add_s_icon.png">Add Profile</button>
              </td>
            </tr>
            <tr>
              <td colspan="11">&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngFor="let listValue of listValues | paginate: { itemsPerPage: 1, currentPage: p }; let i = index" class="Mobileview"  >
      <div class="row">
        <div class="col-5 headingfont" >
          <p>JD_Name</p>
        </div>
        <div class="col-7 listfont ">{{ listValue.JD_Name}}
          <span>
            <img src="../../assets/images/dashboard/download_icon.png">
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-5 headingfont" >
          <p>ID</p>
        </div>
        <div class="col-7 listfont">{{ listValue.ID}}</div>
      </div>
      <div class="row">
        <div class="col-5 headingfont" >
          <p>No_of_Position</p>
        </div>
        <div class="col-7 listfont">{{ listValue.No_of_Position}} </div>
      </div>

      <div class="row">
        <div class="col-5 headingfont" >
          <p>Skill_Sets</p>
        </div>
        <div class="col-7 listfont">{{ listValue.Skill_Sets}}</div>
      </div>
      <div class="row">
        <div class="col-5 headingfont" >
          <p>Created Date</p>
        </div>
        <div class="col-7 listfont">{{ listValue.Created_Date}}</div>
      </div>
      <div class="row">
        <div class="col-5 headingfont" >
          <p>Received
            <br>Profile</p>
        </div>
        <div class="col-7 listfont">{{ listValue.Received_profile}}</div>
      </div>
      <div class="row">
        <div class="col-5 headingfont" >
          <p>Interview Completed</p>
        </div>
        <div class="col-7 listfont">{{ listValue.Interview_completed}}</div>
      </div>
      <div class="row">
        <div class="col-5 headingfont" >
          <p>In Progress</p>
        </div>
        <div class="col-7 listfont">{{ listValue.Yet_to_schedule}}</div>
      </div>
      <div class="row">
        <div class="col-5 headingfont" style="padding-left : 0px">
          <button class="view_profile view_550" (click)="viewProfile(listValue['ID']);viewProfileData(listValue['ID'],listValue['JD_Name'],listValue['Skill_Sets'],listValue['No_of_Position'],listValue['Created_Date'] )">
            <img src="../../assets/images/dashboard/view_icon.png"> View Profile</button>
        </div>
        <div class="listfont">
          <button class="add_profile view_550" (click)="showAddProfile(listValue['ID'],listValue['JD_Name'],listValue['Skill_Sets'],listValue['No_of_Position'],listValue['Created_Date'] )">
            <img src="../../assets/images/dashboard/add_s_icon.png">Add Profile</button>
            
        </div>
        <div class="pagination"  >
          <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <app-footer></app-footer> -->