
.add-new-hiring-container{
	padding-bottom: 90px;
}
.heading{
	font-size:20px;
	color:#ffffff;
	padding:10px;
	background: #9691e1; /* Old browsers */
	background: -moz-linear-gradient(left, #9691e1 0%, #2989d8 45%, #2989d8 45%, #71b1bd 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #9691e1 0%,#2989d8 45%,#2989d8 45%,#71b1bd 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #9691e1 0%,#2989d8 45%,#2989d8 45%,#71b1bd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9691e1', endColorstr='#71b1bd',GradientType=1 ); /* IE6-9 */
}
#jd_section{
	background-color:#eef3f6;
	padding:10px;
}
section{
	background-color:#eef3f6;
	padding:10px;
	border-top:10px solid white;
}
input[type=text]{

border:1px solid black;
width:230px;;
height:20px;

}
input[type=checkbox]{
	padding-right:100px;
	margin:500px;
}
h4{
	color:2c2c2c;
	font-size:16px;
	font-weight: bold;
	cursor:pointer;
}
p {
	color:2c2c2c;
	font-size:14px;
	margin-top:15px;
	margin-bottom:0px;
	cursor:pointer;
	width:auto;
}
input[type=checkbox]{
	padding:0px;
	margin:0px 5px;
}
input[type=radio]{
	margin:0px 5px;
}
#add_icon_image{
    background-image: url(../../assets/images/TA/skill_add_icon.png);
    background-repeat: no-repeat;
	width:50px;
    height:50px; 
    position:relative;
    left:250px;
    top:-8px;
   
}
#attach_text{
    color:blue;
    padding-left:30px;    
}
#program_side{
	margin-left:15px;
}
#external_side{
	margin-left:25px;
}
#add_icon_image{
	padding:15px;
}
#attach_icon_image{
    padding-right:10px;
    background-image: url(../../assets/images/TA/attach_icon.png);
    background-size:20px;
    background-repeat: no-repeat;
}
#submit_btn{
	text-align:center;
	padding:30px;
	
}
.btn{
	border-radius:20px;
	padding:5px 40px;
	color:#ffffff;
	background-color:#9724e5;
}
.btn:hover{
	color:white;
}
.upload_jd img,.upload_jd p, .upload_jd span{
	display:inline;
}
#file_format{
	font-size:12px;
	color:9a9a9a;
}
.skill_sets_add{
	width:100px;
	padding:5px 10px;
	border-radius:50px;
	background-color:#bcc7cf;
}
.add_s_icon_image{
	background-color:bcc7cf;
}
#add_icon_image{
	cursor:pointer;
}
select{
	width:60px;
}
.display_skills_added{display:flex;}
.selected_skills{
	
	padding:5px 10px;
	border-radius:50px;
	background-color:#bcc7cf;
	margin-right: 10px;
}
.selected_skills .skill_close{
	float:right;
	padding-left: 20px;
	cursor:pointer;
	
}
.col-xs-12#external_side{
    margin-left:0px;
}
label {
   cursor: pointer;
}

input[type="file"] { 
  z-index: -1;
  opacity: 0;
}

input:focus + label {
  outline: 2px solid;
}
.row_top{
	margin-top:10px;
}
.submit_button{
	text-align:center;
	margin:10px 10px;
}
 @media(min-width:320px)and (max-width:767px){
	#external_side{
		margin-left: 0px;
	}
	input[type=checkbox][_ngcontent-c1] {
		padding: 0px;
		margin: 15px 5px 0px;
	}
	

} 


