.heading{
	font-size:16px;
	font-weight:bold;
	color:#ffffff;
	padding:10px;
	background: #9691e1; /* Old browsers */
	background: -moz-linear-gradient(left, #9691e1 0%, #2989d8 45%, #2989d8 45%, #71b1bd 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #9691e1 0%,#2989d8 45%,#2989d8 45%,#71b1bd 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #9691e1 0%,#2989d8 45%,#2989d8 45%,#71b1bd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9691e1', endColorstr='#71b1bd',GradientType=1 ); /* IE6-9 */
}
section{
	margin:20px 0px;
}
.row_top{
	margin-top:10px;
}
span img{
	padding:5px 10px 5px 0px;
	border-radius:25px;
}
#right_side_border{
	border:1px solid #0aa6ff;
	background-color:#e9f7ff;
	padding:20px;
	height:130px;
}
.middle_exp{
	position:relative;
	top:10px;
}
#right_side_selected_border{
	height:30px;
	padding:0px 10px;
	width:70%;
	background-color:rgb(51,200,111);
	border-left:5px solid rgb(20,168,82);
	margin:0px 30px;
	color:white;
	font-weight:bold;
}
#timer_icon{
	position:relative;
	top:10px;
}
#exp_text p, #jd_name_text p{
	display:inline;
}
#de_icon{
	padding-left:15px;
}
#time_slot{
	margin:0px 30px;
}
#scheduled_time{
	position:relative;
	top:-10px;
	left:67px;
}
#exp_text p{
	padding-right:20px;
}
 #jd_name_text p{
	 padding-right:32px;
 }
 #puzzle_score{
	 text-align:center;
 }
 .skill_comment{
	 font-size:12px;
	 justify-content: center;
 }
 #doc_view{
	 padding:5px 10px;
	 border-radius:50px;
	 background-color:#bcc7cf;
	 width:90px;
	 cursor:pointer;
 }
 #program_statement_bg{
	 background-color:#eef3f6;
	 padding:10px 20px;
 }
 p{
	 font-size:14px;
 }
 @media screen and (max-width: 778px){
	 .name_top{
		 position:relative;
		 top:-10px;
	 }
	 .image_top{
		position:relative;
		top:-10px;
	 }
	 #right_side_border{
		 position:relative;
		 top:10px;
	 }
 }
 h4{
	 font-size:16px;
	 font-weight:bold;
 }
 #mail_color span, #mail_color p{
	 display:inline;
 }
 #mail_clr{
	 color:blue;
 }
 #l0_feedback_bgcolor{
	 background-color:#f1f2ff;
	  padding:10px 20px;
	  border-left:5px solid #484d91;
 }
#stars_fd, #comments{
	padding:10px 0px;
}
#l1_feedback_bgcolor{
	 background-color:#e9f7ff;
	  padding:20px;
	  border-left:5px solid #0aa6ff;
 }
 #l0_feedback_bgcolor_1{
	 background-color:#fff8f9;
	  padding:10px 20px;
	  border-left:5px solid #ff5275 ;
 }
 .content_size{
	 font-size:14px;
 }
#l1_bgc{
	 background-color:#0aa6ff;
	 width:70px;
	 height:80px;
	 margin:5px 10px;;
 }
 #overall_score_bg{
	 background-color:#ffffff;
 }
 div.text-center{
	
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center }
div.text-center h4 {
  margin: 0 }
  
  div.cir1{
	
  display: flex;
  align-items: center;
  justify-content: center
  }
  div.cir1 p {
  margin: 0;
  position:relative;
  left:50px;
 }
 .progress_content{
	 padding-left:40px;
 }
 #comments1{
	 position:relative;
	 top:7px;
 }
 
 
 
 