
section{
	
	background-color:#eef3f6;
}
.heading{
	font-size:16px;
	font-weight:bold;
	color:#ffffff;
	padding:10px;
	background: #9691e1; /* Old browsers */
	background: -moz-linear-gradient(left, #9691e1 0%, #2989d8 45%, #2989d8 45%, #71b1bd 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #9691e1 0%,#2989d8 45%,#2989d8 45%,#71b1bd 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #9691e1 0%,#2989d8 45%,#2989d8 45%,#71b1bd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9691e1', endColorstr='#71b1bd',GradientType=1 ); /* IE6-9 */
}
.jd_details div p{
	display:inline;
	padding:10px;
	
}
.head_content{
	padding:10px 20px;
	font:arial;
}
#head_content{
	background-image: linear-gradient(to right, #f08271, #7b5fac);
	color: #fff;
 	margin: 10px 0;
}
#head_content p{
	padding:10px 0px;
	font-size:14px;
}
p{
	font-size:14px;
}
.jd_details div{
	padding:10px 20px;
}
.text_right{
	margin-left:14%;
}
#jd_value{
	margin-left:22%;
}
#star{
	font-size:30px;
	color:red;
}
label {
   cursor: pointer;
}

#upload-photo {
   opacity: 0;
   position: absolute;
   z-index: -1;
}
#attach_icon_image,#attach_text,#file_format{
	display:inline;
}
#attach_text{
	color:blue;
	padding:0px 10px;
}
.label_size,.input_content{
	display:block;
}
.input_content{
	margin-bottom:15px;
}
.label_size{
	margin-top:15px;
}
.btn{
	border-radius:20px;
    margin:0px 10px;
	color:#ffffff;
	font-size: 16px;
	background-color:rgb(138,82,230);
}
.btn:active, .btn:hover{
	color:white;
}

.submit_button{
	text-align:center;
	margin:30px;
}
input[type=text] {
    border: 1px solid black;
    width: 230px;
    height: 20px;
}
input[type="file"] { 
    z-index: -1;
    opacity: 0;
  }
 .section-bg{
	 background-color: #eef3f6;
 }